<div class="container d-flex flex-row">

  <div class="col-5">
    <app-photos></app-photos>
  </div>
  <div class="col-7">
    <br>
    <img class='rounded' src="https://res.cloudinary.com/doctolib/image/upload/w_1024,h_700,c_limit/l2rd5xakeo0jiu4dywyi.jpg" alt="Chirurgien-dentiste" style="height: 250px; float: right;">
    <h5>Présentation du docteur Laura Ivan</h5>
    <p>
      Le docteur Laura Ivan, chirurgien-dentiste, vous reçoit dans son cabinet
      au 4 rue Chateauneuf à Nice du lundi au vendredi.
    </p>
    <p>
      Au cours des six dernières années, le docteur Ivan a obtenu les diplômes
      prestigieux de Warwick University et de l'Université d'Oxford.
    </p>
    <p>Elle a également obtenu un diplôme d'esthétique du visage à Londres.</p>
    <p>
      Notre philosophie est d'offrir des soins dentaires sans douleur, dans une
      atmosphère détendue et plaisante pour nos patients.
    </p>
    <p>Le bien-être de nos patients est au coeur de nos préoccupations, nous
      nous assurons de leur donner le meilleur service possible.</p>
    <p>Nous utilisons les technologies les plus avancées en matière de soins
      dentaires : un fauteuil de dernière génération avec option siège massant,
      écran numérique, et encore plus de fonctions qui offrent un confort
      optimal pour nos patients. </p>
    <p>Le docteur Ivan assure des consultations en esthétique dentaire
      (blanchiment, facettes dentaires, couronnes en céramique, obturations
      composites) et du visage (botox, acide hyaluronique, etc.).</p>
      <br>
    <button class='btn btn-secondary' style='width: 100%' (click)='gotoDoctolib()'>
        Prendre rendez-vous
    </button>
  </div>

</div>