<div class="container d-flex myFlex">

  <div class="myCol-5">
    <app-photos></app-photos>
  </div>
  <div class="myCol-7">
    <br>
    <button class='btn btn-secondary' (click)='gotoDoctolib()' style='width:
      100%;'>{{ 'contact.button' | translate }}</button>
    <br>
    <br>
    <h5>{{ 'contact.header1' | translate }}</h5>
    <p>{{ 'contact.p1' | translate }}</p>
    <p>{{ 'contact.p2' | translate }}</p>

    <hr>
    <h5>{{ 'contact.header2' | translate }}</h5>
    <p>{{ 'contact.p3' | translate }}</p>
    <p>{{ 'contact.p4' | translate }}</p>
    <hr>
    <h5>{{ 'contact.header3' | translate }}</h5>
    <app-map></app-map>
    <br>
    <h5>{{ 'contact.header4' | translate }}</h5>
    <p>{{ 'contact.p5' | translate }}</p>
    <p>{{ 'contact.p6' | translate }}</p>
    <p>{{ 'contact.p7' | translate }}</p>
    <h5>{{ 'contact.header5' | translate }}</h5>
    <p>{{ 'contact.p8' | translate }}</p>
    <h5>{{ 'contact.header6' | translate }}</h5>
    <p>{{ 'contact.p9' | translate }}</p>
    <p>{{ 'contact.p10' | translate }}</p>

  </div>

</div>