<div class="container d-flex flex-row">

  <div class="col-5">
    <app-photos></app-photos>
  </div>
  <div class="col-7">
    <br>
    <button class='btn btn-secondary' (click)='gotoDoctolib()' style='width:
      100%;'>
      Prenez rendez-vous sur Doctolib.fr
    </button>
    <br>
    <br>
    <h5>Heures d'ouverture et adresse</h5>
    <p>Lundi - Vendredi <span>9h00-13h00, 14h00 - 18h00</span></p>
    <p>4 Rue Châteauneuf, 06000 Nice</p>

    <hr>
    <h5>Contact/Heures du secrétariat</h5>
    <p>Tel: 04 93 96 91 95</p>
    <p>Lundi - Vendredi <span>9h00-13h00, 14h00 - 18h00</span></p>
    <hr>
    <h5>Carte et informations d'accès</h5>
    <!-- <p>4 Rue Châteauneuf, 06000 Nice</p> -->
    <app-map></app-map>
    <p><strong>Moyens de transport</strong></p>
    <p>Bus - Thiers / Gambetta (lignes 12, 17, 23, 71, 75 et 07)</p>
    <p>Bus - Tzaréwitch / Gambetta (ligne 75)</p>
    <p>Bus - Estienne d'Orves (ligne 17)</p>
    <p><strong>Parking public</strong></p>
    <p>3 Rue Cluvier, Nice</p>
    <p><strong>Informations pratiques</strong></p>
    <p>1er étage avec ascenseur</p>
    <p>Parking payant</p>

  </div>

</div>