<div class="container d-flex myFlex">

  <div class="myCol-5">
    <app-photos-services></app-photos-services>
  </div>
  <div class="myCol-7">
    <br>
    <h5>{{ 'services.header1' | translate }}</h5>
    <p>{{ 'services.p1' | translate }}</p>
    <p>{{ 'services.p2' | translate }}</p>
    <p>{{ 'services.p3' | translate }}</p>
    <p>{{ 'services.p4' | translate }}</p>
    <hr>
    <h5>{{ 'services.header2' | translate }}</h5>
    <p>{{ 'services.p5' | translate }}</p>
    <p>{{ 'services.p6' | translate }}</p>
    <p>{{ 'services.p7' | translate }}</p>
    <p>{{ 'services.p8' | translate }}</p>
    <hr>
    <h5>{{ 'services.header3' | translate }}</h5>
    <p>{{ 'services.p9' | translate }}</p>
    <br>
    <button class='btn btn-secondary' style='width: 100%'
      (click)='gotoDoctolib()'>{{ 'services.button' | translate }}</button>
  </div>

</div>