<div class="container d-flex flex-row">

  <div class="col-5">
    <app-photos-services></app-photos-services>
  </div>
  <div class="col-7">
    <br>

    <h5>Expertises, actes et symptômes</h5>
    <p>Blanchiment des dents</p>
    <p>Couronne dentaire</p>
    <p>Détartrage</p>
    <p>Appareil dentaire</p>

    <hr>

    <h5>Tarifs et remboursements</h5>
    <p>Consultation - 23 €</p>
    <p>Conventionné</p>
    <p>Carte Vitale acceptée</p>
    <p>Tiers payant : Sécurité sociale</p>

    <h5>Moyens de paiement</h5>
    <p>Chèques, espèces et cartes bancaires</p>

    <button class='btn btn-secondary' style='width: 100%'
      (click)='gotoDoctolib()'>
      Prendre rendez-vous
    </button>

  </div>

</div>